# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ambientes virtuais
.venv/
env/
venv/

# Pygame cache
*.db

# VSCode
.vscode/

# PyCharm / IntelliJ
.idea/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
Thumbs.db
Desktop.ini

# ZIPs e builds
*.zip
dist/
build/